---
all:
  vars:
    ansible_connection: ansible.netcommon.network_cli
    ansible_user: ansible
  children:
    switches:
      children:
        ios:
          hosts:
            {% for host,attr in host_list.items() %}
            {{host}}:
              ansible_user: {{attr.username}}
              ansible_password: {{attr.password}}
              ansible_become_password: {{attr.enable_pass}}
            {% endfor %}
          vars:
            ansible_become: yes
            ansible_become_method: enable
            ansible_network_os: cisco.ios.ios
            ansible_connection: ansible.netcommon.network_cli
